	*{
		box-sizing: border-box;
		padding: 0;
		margin:0;
    font-family: 'Noto Sans TC', sans-serif;
    color:#5e4926;
    
	}
	.carousel{
		height:80vh;
		overflow: hidden;
		
	}
	
	.navbar{
		background-color: #55a1ab;
		border:2px solid #55a1ab;
		color:#ffffff;
		
	}
	nav li{
		padding: 0px 50px;
	}
	
	.shop{
		margin-top:-8%;
		z-index: 1;
		color:white;
    position: relative;
	}
  .map{
    position: absolute;
    top:-25%;
    left:40%;
  }
	
	.shop a{
		font-size: 18px;
		color:white;
	}
  .shop  i{
    font-size: 80px;
    color:white;
  }
	.shop p i{
		font-size: 30px;
		color:white;
	}
	.shop .text-center{
		
		border-radius: 10px;
	}
	.shop01{
		background-color: #55a1ab;
	}
	.shop04{
		background-color: #26585e;
	}
	.shop06{
		background-color: #55a1ab;
	}
  .map i{
    color:#b1d9de;
  }
 
  .card1{
    position: relative;
    
  }
 .company{
  color:#26585e;
  background-color: #b1d9de;
  position: absolute;
  width:500px;
  top:-500px;
  left:calc(50% - 250px);
  z-index: 1;
  height:200px;
 }
  @media screen and (max-width: 800px) {
    .carousel{
    height:60vh;
    overflow: hidden;
  }
  .carousel img{
    height:60vh;
  }

   .map i{
    display: none;
  }
  .card1{
    display: none;
  }
  }
	/*SWIPER*/
	 .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;

    }
    /*PRODUCT*/
    .product{
    	background-color: #55a1ab;
    }
    .product i{
    	font-size: 50px;
    	color:#ffffff;
    }
    .product p{
      color: #ffffff;
      font-weight: 800;
    }
    .product i:hover {
      transition: 0.50s;
      -webkit-transition: 0.50s;
      -moz-transition: 0.50s;
      -ms-transition: 0.50s;
      -o-transition: 0.50s;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    } 
    
    .pd{
    	height:20vh;
    }
    .product01{
    	
    	background-color: #b89152;
    }
    .product02{
    	
    	background-color: #b1d9de;
    }
    .product03{
    	
    	background-color: #26585e;
    }
    .product04{
    	
    	background-color: #5e4926;
    }
    .product05{

    	background-color: #decdb1;
    }
    .product06{
    	background-color: #b1d9de;
    }
    .product07{
    	background-color: #26585e;
    }
    .product08{
    	background-color: #b89152;
    }
   /*FOOTER*/
    footer{
      background-color: #55a1ab;
      color:white;
    }
    footer hr{
      color:white;
      border-color: white;
    }
    footer i{
      font-size: 30px;
      color:white;
    }
    footer ul{
      color:white;
      list-style: none;
      padding-left:10px; 
    }
    footer ul li{
      padding-bottom: 10px;
      color:white;
    }
    footer a{
      color:white;
    }
    footer .rounded-circle{
      border:1px solid #ffffff;
      background-color: #55a1ab;
      
      width: 60px;
      height:60px;
      transition-property: background-color,color;
      transition-duration: 0s;
      transition-delay: 0s;
    }
    footer .rounded-circle:hover{
      border:1px solid #ffffff;
      transition-property: background-color,color;
      transition-duration: 0s;
      transition-delay: 0s; 
      background-color:#26585e;
      color: #55a1ab;
      animation: move .16s infinite alternate;
    }
    footer li:hover{
      animation: move .16s infinite alternate;
    }
    
    @keyframes move {
  0% { transform: translate(-1px, 1px) rotate(-1deg); }
  33% { transform: translate(0px, 0px) rotate(-0deg); }
  66% { transform: translate(-1px, 1px) rotate(-1deg); }
  100% { transform: translate(0px, 0px) rotate(-0deg); }
    }
    /**FORM**/
    .myborder{
      border:2px solid #55a1ab;
    }
    .contact{
      background-image:url("../img/form-bg.jpg");
      background:-webkit-linear-gradient(rgba(85,161,171,0.7), rgba(85,161,171,0.3)),url("../img/form-bg.jpg") center bottom no-repeat;
      background:-o-linear-gradient(rgba(85,161,171,0.7), rgba(85,161,171,0.3)),url("../img/form-bg.jpg") center bottom no-repeat;
      background:linear-gradient(rgba(85,161,171,0.7), rgba(85,161,171,0.3))  ,url("../img/form-bg.jpg") center bottom no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: bottom;
    }
/**NEWS**/
#news img{
  width:100%;
  padding:0; 
}
.main-news{
  position: relative;
  height:auto;
  width: 100%;
  background-image: url(../img/news01.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.main-newstext{
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  z-index: 100;
  background-color: rgba(255,255,255,0.5);
  
}
@media screen and (max-width: 800px) {
  .main-news{
    height:60vh;
  }
}
/**ANIMATION**/
.rotate-vert-center {
  -webkit-animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2020-3-3 10:4:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-vert-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

